.container{
    color: white;
}
.time i{
    color: yellow;
}
.number-rate{
    height: 60px;
    width: 60px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid yellow;
    border-radius: 50%;
}

.user{
    color: white;
   padding: 0 10px;
}
.playtrailer{
    border: 2px solid #fff;
    cursor: pointer;
    padding: 3px 6px;
    color: white;
}